*{
    margin: 0;
    pad: 0;
    box-sizing: border-box;
    font-family: "Roboto Serif", cursive;
}


body{
    background-color: rgba(0, 183, 255, 0.589);
    display: flex;
    flex-direction: column;
    align-items: center;
}


header{
    width: 100%;
    height: 8vh;
    background-color: rgb(0, 183, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.nav{
    height: auto;
}

#moreBars{
    display: none;
    cursor: pointer;
    margin-left: 0.3em;
    padding: 0.7em;
    border-radius: 10px;
}
#logo{
    align-items: center;
    display: flex;
    width: 20%;
}
#logo span{
    font-family: "Edu VIC WA NT Hand", cursive;
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 0.5em;
    color: rgb(13, 50, 218);
    cursor: pointer;
}
#logo img{
    width: 50px;
    height: auto;
    cursor: pointer;
}

#searchBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 55%;

}
#search{
    width: 40%;
    position: relative;
}
#search input{
    width: 100%;
    height: 4vh;
    border: none;
    border-radius: 25px;
    background-color: rgb(40, 154, 230);
}
#search i{
    position: absolute;
    left: calc(50% - 45%);
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}
#searchBar input::placeholder{
    padding-left: 4em;
    font-style: italic;
    color: black;
}

#searchBar button, #autentification button{
    font-size: 1rem;
    padding: 1.2em;
    background-color: transparent;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

#autentification{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 0.1em;
    align-items: center;
}
#autentification p{
    color: white;
    font-size: 2em;
}
#pagePhoto{
    width: 100%;
    height: 50vh;
}
#pagePhoto img{
    object-fit: cover;
    width: 100%;
    height: 50vh;
}
#firstText{
    text-align: center;
    margin-top: 3em;
}


.destinations{
    width: 1400px;
    height: 60vh;
    margin-top: 4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
}
.vacantion{
    width: 23%;
    height: 45%;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 3px rgb(81, 101, 156);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.culture{
    background-image: url(media/culture.jpg);
    background-size: cover;
    background-position: center;
    transition: background-size 1s ease-in-out;
    overflow: hidden;
}
.cruise{
    background-image: url(media/cruise.png);
    background-size: cover;
    background-position: center;
    transition: background-size 1s ease-in-out;
    overflow: hidden;
}
.nature{
    background-image: url(media/nature.jpg);
    background-size: cover;
    background-position: center;
    transition: background-size 1s ease-in-out;
    overflow: hidden;
}
.beach{
    background-image: url(media/beach.jpg);
    background-size: cover;
    background-position: center;
    transition: background-size 1s ease-in-out;
    overflow: hidden;
}
.cityBreak{
    background-image: url(media/city-break.png);
    background-size: cover;
    background-position: center;
    transition: background-size 1s ease-in-out;
    overflow: hidden;
}
.history{
    background-image: url(media/history.png);
    background-size: cover;
    background-position: center;
    transition: background-size 1s ease-in-out;
    overflow: hidden;
}
.family{
    background-image: url(media/family.jpg);
    background-size: cover;
    background-position: center;
    transition: background-size 1s ease-in-out;
    overflow: hidden;
}
.winter{
    background-image: url(media/winter.png);
    background-size: cover;
    background-position: center;
    transition: background-size 1s ease-in-out;
    overflow: hidden;
}
.vacantion button, .activity button, .classic button{
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    padding: 0.4em;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.555);
}

.more{
    width: 80%;
    height: 10vh;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18em;
}
.btn{
    cursor: pointer;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    padding: 0.8em 2em;
    background-color: rgb(0, 183, 255);
    box-shadow: 2px 2px 10px 3px rgb(81, 101, 156);
}

.appNreviews{
    width: 1500px;
    height: 70vh;
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.section{
    width: 700px;
    height: 100%;
    background-color: rgba(0, 183, 255, 0.658);
    box-shadow: 1px 1px 5px rgb(81, 101, 156);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#appBoxes{
    height: 61vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#appPic, #appText{
    height: 100%;
    width: 335px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#appPic img{
    width: 320px;
    height: auto;
}
#appTitle h2{
    margin-top: 1em;
}
#store{
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 0.3em;
}
#store img{
    height: 90%;
    width: auto;
    cursor: pointer;
}
#appText{
    display: flex;
    flex-direction: column;
    gap: 3em;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#appText img{
    width: 20vh;
    height: auto;
}
#appText button{
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 0.8em;
    background-color: rgb(201, 160, 50);
    box-shadow: 2px 2px 10px 3px rgb(81, 101, 156);
}
#comments{
    width: 90%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 2em;
    row-gap: none; 
}
#title h2{
    margin-top: 1em;
}
.reviews button{
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 0.6em 4em;
    background-color: rgb(35, 189, 250);
    box-shadow: 1px 1px 8px rgb(81, 101, 156);
}
.box{
    height: 140px;
    width: 290px;
    border-radius: 10px;
    background-color: rgb(138, 195, 233);
    box-shadow: 1px 1px 8px rgb(81, 101, 156);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.user{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 83%;
}
.user-pic{
    width: 45px;
    height: 45px;
    margin-left: 0.3em;
    border: 1px solid rgb(95, 95, 95);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 204, 204);
    color: rgb(80, 80, 80);
    font-weight: 500;
    cursor: pointer;
}
small b{
    cursor: pointer;
}
.user small{
    height: auto;
    width: 14rem;
    margin-left: 1em;
    font-style: italic;
}
#adrenaline, #vacantion,#destination{
    margin: 4em 0em 2em 0em;
}
#activities, #cityes{
    height: 25vh;
    width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.activity, .classic{
    width: 20%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 8px rgb(81, 101, 156);
}
.swipe{
    border-radius: 50%;
    height: 50px;
    cursor: pointer;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    padding: 1.3em;
    background-color: rgb(35, 189, 250);
    box-shadow: 1px 1px 8px rgb(81, 101, 156);
}
.carting{
    background-image: url(media/carting.jpg);
    background-size: cover;
    background-position: center;
    transition: background-size 1s ease-in-out;
    overflow: hidden;
}
.kayaking{
    background-image: url(media/canoe.jpg);
    background-size: cover;
    background-position: center;
    transition: background-size 1s ease-in-out;
    overflow: hidden;
}
.paragliding{
    background-image: url(media/paragliding.jpg);
    background-size: cover;
    background-position: center;
    transition: background-size 1s ease-in-out;
    overflow: hidden;
}
.diving{
    background-image: url(media/diving.jpg);
    background-size: cover;
    background-position: center;
    transition: background-size 1s ease-in-out;
    overflow: hidden;
}
.paris{
    background-image: url(media/classic-paris.jpg);
    background-size: cover;
    background-position: center;
    transition: background-size 1s ease-in-out;
    overflow: hidden;
}
.la{
    background-image: url(media/classic-la.png);
    background-size: cover;
    background-position: center;
    transition: background-size 1s ease-in-out;
    overflow: hidden;
}
.tokyo{
    background-image: url(media/classic-tokyo.png);
    background-size: cover;
    background-position: center;
    transition: background-size 1s ease-in-out;
    overflow: hidden;
}
.london{
    background-image: url(media/classic-london.jpg);
    background-size: cover;
    background-position: center;
    transition: background-size 1s ease-in-out;
    overflow: hidden;
}
.best2024{
    height: 60vh;
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.best{
    height: 100%;
    width: 28%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: rgb(35, 189, 250);
    box-shadow: 1px 1px 8px rgb(81, 101, 156);
}
.bestpic{
    height: 50%;
    width: 90%;
    box-shadow: 1px 1px 8px rgb(81, 101, 156);
}
.country{
    border-radius: 50%;
    width: 55px;
    height: 55px;
    box-shadow: 1px 1px 8px rgb(81, 101, 156);
}
.country img{
    width: 55px;
    height: 55px;
    object-fit: cover;
}
.best p{
    text-align: center;
    margin: 0em 1em;
}
.bestpicosaka{
    background-image: url(media/best-osaka.jpg);
    background-position: center;
    background-size: cover;
}
.bestpicsantorini{
    background-image: url(media/best-santorini.jpg);
    background-position: center;
    background-size: cover;
}
.bestpicbarcelona{
    background-image: url(media/best-barcelona.jpg);
    background-position: center;
    background-size: cover;
}
footer{
    margin-top: 7em;
    width: 100%;
    height: 350px;
    background-color: rgba(88, 88, 88, 0.514);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}
#links{
    display: flex;
    flex-direction: row;
    gap: 4em;
    justify-content: center;
    align-items: center;
}
.link{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.getapp{
    width: auto;
    height: 35px;
    cursor: pointer;
}
#socials{
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.icon{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.tiktok{
    background-image: url(media/tiktok.png);
    background-size: cover;
    background-position: center;
}
.facebook{
    background-image: url(media/facebook.png);
    background-size: cover;
    background-position: center;
}
.x{
    background-image: url(media/X.png);
    background-size: cover;
    background-position: center;
}
.instagram{
    background-image: url(media/instagram.png);
    background-size: cover;
    background-position: center;
}
.youtube{
    background-image: url(media/youtube.png);
    background-size: cover;
    background-position: center;
}
footer a{
    text-decoration: none;
    color:black;
}





#searchBar button:hover, #autentification button:hover, #moreBars:hover{
    background-color: rgb(48, 196, 255);
    border-radius: 10px;
    font-weight: bold;
}
.culture:hover{
    background-size: 140%;
}
.cruise:hover{
    background-size: 135%;
}
.one:hover{
    background-size: 125%;
}
.two:hover{
    background-size: 120%;
}
.three:hover{
    background-size: 130%;
}
.winter:hover{
    background-size: 110%;
}
.london:hover{
    background-size: 153%;
}
.destinations button:hover, #activities button:hover, #cityes button:hover{
    background-color: rgba(255, 255, 255, 0.733);
}
.btn:hover, #viewallbtn:hover, .swipe:hover{
    background-color: rgb(48, 196, 255);
    box-shadow: 2px 2px 10px 3px rgb(64, 79, 122);
    font-weight: 450;
}
#appText button:hover{
    background-color: rgb(230, 185, 62);
    box-shadow: 2px 2px 10px 3px rgb(60, 75, 116);
    font-weight: 470;
}
.best:hover{
    cursor: pointer;
    background-color: rgb(48, 196, 255);
    box-shadow: 2px 2px 10px 3px rgb(64, 79, 122);
}




@media (max-width: 1880px){
    #viewallbtn{
        font-size: 1.1rem;
    }
    .box{
        height: 130px;
    }
}
@media (max-width: 1530px){
    #activities, #cityes{
        width: 1300px;
    }
    .carting:hover{
        background-size: 135%;
    }
    .two:hover{
        background-size: 130%;
    }
    .london:hover{
        background-size: 170%;
    }
    .diving:hover{
        background-size: 140%;
    }
}
@media (max-width: 1500px){
    .appNreviews{
        width: 1300px;
    }
    .section{
        width: 600px;
    }
    #appPic, #appText{
        width: 290px;
    }
    #appPic img{
        width: 280px;
    }
    #store img{
        height: 80%;
        width: auto;
    }
    #appText img{
        height: auto;
        width: 15vh;     
    }
    #appText button{
        font-size: 1.2rem
    }
    .box{
        height: 120px;
        width: 250px;
        font-size: 13px;
    }
    .user small{
        margin-right: 0.7em;
    }
    .user-pic{
        height: 35px;
        width: 40px;
    }
    .destinations{
        width: 1300px;
    }
    #activities, #cityes{
        width: 1250px;
        height: 23vh;
    }
    .best2024{
        height: 55vh;
        width: 1200px;
        font-size: 0.85rem;
    }
    .country{
        width: 50px;
        height: 50px;
    }
    .country img{
        width: 50px;
        height: 50px;
    }
    .swipe{
        height: 45px;
        width: 45px;
    }
}
@media (max-width: 1310px){
    #firstText{
        font-size: 25px;
    }
    .destinations{
        width: 1000px;
    }
    .vacantion button, .activity button, .classic button{
        font-size: 1.2rem;
    }
    .vacantion{
        height: 40%;
    }
    .btn{
        font-size: 1.2rem;
    }
    #searchBar button, #autentification button{
        font-size: 0.9rem;
    }
    .appNreviews{
        width: 1100px;
        height: 60vh;
    }
   .section{
        width: 500px;
        gap: 0.7em;
   }
   #appPic, #appText{

        width: 240px;
        gap: 2em;
    }
    #appPic{
        gap: 0.2em;
    }
    #appTitle{
        font-size: 0.8rem;
    }
    #appText h3{
        font-size: 1rem;
    }
    #appPic img{
        width: 230px;
    }
    #store{
        flex-direction: column;
        height: 100px;
    }
    #store img{
        height: 37px;
        width: auto;
    }
    #appText img{
        height: auto;
        width: 13vh;
    }
    #appText button{
        font-size: 1rem
    }
    #appText p{
        font-size: 0.9rem;
    }
    .icon{
        height: 35px;
        width: 35px;
    }
    .hidden{
        display: none;
    }
    #comments{
        row-gap: 10px;
        height: 75%;
    }
    .box{
        height: 180px;
        width: 200px;
        font-size: 14px;
        gap: 0.3em;
    }
    .user-pic{
        height: 25px;
        width: 35px;
        font-size: smaller;
    }
    .rating{
        margin: 3px 7px;
    }
    .user small{
        height: 120px;
    }
    #adrenaline, #vacantion, #destination{
        font-size: 1.7rem;
    }
    #activities, #cityes{
        width: 1000px;
        height: 20vh;
    }
    .swipe{
        font-size: 1rem;
    }
    .best2024{
        height: 52vh;
        width: 1000px;
        font-size: 0.8rem;
    }
    .country{
        width: 40px;
        height: 40px;
    }
    .country img{
        width: 40px;
        height: 40px;
    }
    .two:hover{
        background-size: 140%;
    }
    .three:hover{
        background-size: 150%;
    }
    .one:hover{
        background-size: 145%;
    }
    .culture:hover{
        background-size: 160%;
    }
    .cruise:hover{
        background-size: 155%;
    }
    .winter:hover{
        background-size: 125%;
    }
}
@media (max-width: 1100px){
    .destinations{
        width: 850px;
        height: 50vh;
    }
    .vacantion button, .activity button, .classic button{
        font-size: 1.1rem;
    }
    .btn{
        font-size: 1.1rem;
    }
    .more{
        width: 650px;
        margin-top: 1em;
    }
    #searchBar{
        width: 55%;
        gap: 1em;
    }
    #autentification{
        width: 15%;
    }
    #search{
        width: 55%;
    }
    #logo img{
        width: 40px;
    }
    #logo span{
        font-size: 1rem;
    }
    #searchBar button, #autentification button{
        font-size: 0.8rem;
        padding: 1em;
    }
    .appNreviews{
        width: 900px;
        height: 55vh;
        margin-top: 2em;
    }
   .section{
        width: 430px;
        gap: 0.7em;
   }
   #title{
        font-size: 0.8rem;
   }
   #appPic{
        width: 200px;
        gap: 1em;
    }
    #appText{
        width: 200px;
        gap: 1.5em;
    }
    #appTitle{
        font-size: 0.8rem;
    }
    #appText h3{
        font-size: 0.9rem;
    }
    #appPic img{
        width: 200px;
    }
    #store{
        flex-direction: column;
        height: 90px;
    }
    #store img{
        height: 35px;
        width: auto;
    }
    #appText img{
        height: auto;
        width: 11vh;
    }
    #appText p{
        font-size: 0.8rem;
    }
    #appText button{
        font-size: 0.9rem;
    }
    .icon{
        height: 35px;
        width: 35px;
    }
    .hidden{
        display: none;
    }
    #comments{
        row-gap: 10px;
        height: 75%;
        width: 96%;
    }
    .box{
        height: 160px;
        width: 180px;
        font-size: 14px;
        gap: 0.3em;
    }
    .user-pic{
        height: 22px;
        width: 35px;
        font-size: smaller;
    }
    .rating{
        margin: 3px 7px;
        font-size: 11px;
    }
    .rating small{
        font-size: 12px;
    }
    .user small{
        height: 120px;
        font-size: 11px;
    }
    #viewallbtn{
        font-size: 1rem;
    }
    #activities, #cityes{
        width: 850px;
        height: 16vh;
    }
    .activity, .classic{
        width: 22%;
    }
    #vacantion, #adrenaline, #destination{
        margin: 3em 0em 2em;
        font-size: 1.5rem;
    }
    .swipe{
        font-size: 0.8rem;
        height: 40px;
        width: 40px;
    }
    .best2024{
        height: 45vh;
        width: 850px;
        font-size: 0.75rem;
    }
    .country{
        width: 35px;
        height: 35px;
    }
    .country img{
        width: 35px;
        height: 35px;
    }
    .bestpic{
        width: 90%;
        height: 45%;
    }
    footer{
        height: 300px;
    }
    footer small{
        font-size: 11px;
    }
    .two:hover{
        background-size: 120%;
    }
    .carting:hover{
        background-size: 130%;
    }
    .diving:hover{
        background-size: 125%;
    }
    .london:hover{
        background-size: 150%;
    }
}
@media (max-width: 1092px){
    #about{
        width: 20%;
    }
    #searchBar{
        gap: 1em;    
    }
}
@media (max-width: 904px){
    .hidden1{
        display: none;
    }
    #moreBars{
        display: block;
    }
    #autentification{
        width: 30%;
    }
    #search{
        width: 60%;
    }
    #logo{
        margin-left: 0.5em;
    }
    .destinations{
        width: 650px;
        height: 75vh;
    }
    .vacantion{
        width: 200px;
        height: 200px;
    }
    .more{
        width: 400px;
        gap: 4em;
    }
    .more button{
        font-size: 1em;
    }
    .one1:hover{
        background-size: 157%;
    }
    .culture:hover{
        background-size: 175%;
    }
    .cruise:hover{
        background-size: 170%;
    }
    .family:hover{
        background-size: 160%;
    }
    .winter:hover{
        background-size: 140%;
    }
    .two:hover{
        background-size: 130%;
    }
    .carting:hover{
        background-size: 135%;
    }
    .appNreviews{
        width: 500px;
        height: 115vh;
        flex-direction: column;
        gap: 0.2em;
        justify-content: space-between;
        align-items: center;
    }
    .section{
        height: 49%;
    }
    #cityes, #activities{
        width: 650px;
        height: 18vh;
    }
    .classic, .activity{
        width: 30%;
    }
    .best2024{
        width: 600px;
    }
    .best{
        width: 40%;
    }
    footer{
        gap: 2em;
    }
    #links{
        gap: 3em;
    }
    .getapp{
        height: 30px;
    }
}
@media (max-width: 704px){
    #logo{
        width: 23%;
        margin-left: 0;
    }
    #logo span{
        font-size: 0.8em;
    }
    #logo img{
        width: 35px;
    }
    #searchBar{
        width: 45%;
        justify-content: end;
    }
    #search input{
        height: 25px;
    }
    #search input::placeholder{
        padding-left: 3em;
    }
    #search{
        width: 75%;
    }
    #firstText{
        font-size: 1.25em;
    }
    .destinations{
        width: 450px;
        height: 105vh;
    }
    #adrenaline, #vacantion, #destination{
        font-size: 1.3em;
    }
    #activities, #cityes{
        height: 36vh;
        width: 400px;
        display: grid;
        grid-template-columns: repeat(2, 1fr) auto; 
        grid-template-rows: repeat(2, 1fr);
    }
    .activity, .classic{
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 145px;

    }
    .swipeRight{
        grid-row: 1 / span 2;
        grid-column: 3 / 4;     
        align-self: center;     
        justify-self: center; 
    }
    .london, .diving{
        display: flex;
    }
     .two:hover{
        background-size: 135%;
    }
    .london:hover{
        background-size: 170%;
    }
    .carting:hover{
        background-size: 145%;
    }
    .diving:hover{
        background-size: 140%;
    }
    .best2024{
        width: 490%px;
        height: 35vh;
    }
    .best{
        height: 80%;
    }
    .best p{
        display: none;
    }
   .bestpic{
        height: 60%;
   }
   footer{
        height: 230px;
        gap: 1em;
   }
   #links{
        gap: 1em;
   }
   .link{
        gap: 0.3em;
   }
   .getapp{
    height: 26px;
   }
   .icon{
    height: 30px;
    width: 30px;
   }
}
@media (max-width: 653px){
    #search input::placeholder{
        color: transparent;
    }
    #search{
        width: 10%;
    }
    #searchBar{
        width: 44%;
    }
    #autentification{
        width: 32%;
    }
    #autentification button{
        font-size: 0.7em;
    }
}
@media (max-width: 615px){
    .santorini{
        display: none;
    }
    .best2024{
        width: 400px;
    }
    .best{
        width: 70%;
        height: 100%;
    }
}
@media (max-width: 560px){
    #autentification button{
        padding: 15px 8px;
    }
    #autentification{
        gap: 0;
    }
}
@media (max-width: 505px){
    #autentification{
        width: 35%;
    }
    .link small{
        font-size: 0.6rem;
    }
    .destinations{
        width: 350px;
        height: 90vh;
    }
    .vacantion{
        width: 40%;
        height: 20%;
    }
    .more{
        width: 300px;
    }
    .btn{
        font-size: 0.6rem;
        padding: 1em;
    }
    .appNreviews{
        width: 350px;
    }
    .section{
        width: 100%;
    }
    #appPic img{
        width: 90%;
    }
    #store img{
        width: auto;
        height: 30px;
    }
    .box{
        width: 40%;
        height: 47%;
        overflow: hidden;
    }
    #activities, #cityes{
        width: 350px;
    }
    .activity, .classic{
        height: 80%;
        width: 90%;
    }
    .best2024{
        width: 330px;
    }
    .two:hover{
        background-size: 145%;
    }
    .diving:hover{
        background-size: 150%;
    }
    .carting:hover, .winter:hover{
        background-size: 155%;
    }
    .london:hover{
        background-size: 185%;
    }
    .culture:hover{
        background-size: 195%;
    }
    .cruise:hover{
        background-size: 190%;
    }
    .four:hover{
        background-size: 180%;
    }
}
@media (max-width: 474px){
    #autentification button{
        padding: 0.8em 0.4em;
    }
    #autentification{
        width: 40%;
    }
}
@media (max-width: 432px){
   #autentification button{
        padding: 0.8em 0.3em;
    }
    footer{
        height: 40vh;
    }
    #links{
        flex-wrap: wrap;
    }
}
@media (max-width: 390px){
    #autentification{
        width: 50%;
    }
    #search{
        width: 25px;
    }

    .destinations{
        width: 300px;
        height: 90vh;
        gap: 0;
    }
    .vacantion{
        width: 40%;
        height: 19%;
    }
     .appNreviews{
        width: 300px;
    }
    .section{
        width: 100%;
    }
    #appText button{
        font-size: 0.75em;
    }
    .box{
        width: 43%;
    }
     #activities, #cityes{
        width: 300px;
    }
    #activities button, #cityes button{
        font-size: 0.9em;
    }
    .activity, .classic{
        height: 80%;
        width: 90%;
    }
    .best2024{
        width: 300px;
    }
    .two:hover{
        background-size: 170%;
    }
    .carting:hover{
        background-size: 185%;
    }
    .diving:hover{
        background-size: 175%;
    }
    .london:hover{
        background-size: 220%;
    }
    .four:hover{
        background-size: 200%;
    }
    .winter:hover{
        background-size: 170%;
    }
    .cruise:hover{
        background-size: 210%;
    }
    .culture:hover{
        background-size: 215%;
    }
}
@media (max-width: 349px){
    #autentification{
        width: 60%;
    }
    #firstText{
        font-size: 1.1em;
    }
}
@media (max-width: 322px){
    #autentification button{
        padding: 0.8em 0.2em;
    }
    .swipe{
        height: 30px;
        width: 30px;
    }
}